<div class="division"> 
    <h1 style="color: black; width: 30%;margin-left: 45%;padding-top: 15px;"><b>PAYMENT</b></h1>
    <div class="container">
        <h3 style="color: red;margin-left: -5%;">Vehicle Number:<input type="text" placeholder="Enter Car Number" class="input"></h3>
<br>
        <label for="cars" style="margin-left: -40%;color: red;">Payment method :-</label>
        <select style="width: 40%;padding: 5px; margin-left: 37%;margin-top: -4%;">
            <option value="1">Select payment method</option>
            <option value="2">Pay via cash</option>
            <option value="3">Scan to pay</option>
        </select><br>
        <a href="../home">  <button type="button" class="btn" style="color: black">SUBMIT</button></a>
    </div>
</div>


