<div class="division">
       <h1 style="color:#33FFFF;font-style:italic;"><marquee><b>PARKING   LOT   SYSTEM</b></marquee></h1>
    <div class="btns">
        <a href="../signin"><button class="button" type="button">SIGN IN</button></a>
        <a href="../signup"><button class="button" type="button">SIGN UP</button></a>
    </div>
    <footer style="color :indigo" class="foot">
        <b>  CONTACT US</b><br><br>
         <b> Phone number: 9876543210</b> <br>
         <b> Email Id :-- abcd@mits.ac.in</b>
      </footer>
</div>
