
<div class="forget-page"> 
          <h1 class="heading"><b>Change Your Password</b></h1>
          <div class="form">
          <h3 style="color: red">Enter Email Id:  <input type="text" placeholder="Enter mail id" class="input"></h3>
          <h3><label for="cars" style="color: red;">Select Security Question:  </label></h3>
          <select name="ques" id="ques" style="padding: 5px;">
            <option value="1">what is your favourite color?</option>
            <option value="2">who is your childhood favourite hero?</option>
            <option value="3">what is your favourite pet?</option>
            <option value="4">what is your favourite game?</option>
            <option value="5">what is your pet name?</option>
          </select><br><br>
          <h3 style="color: red">Enter Your Answer: <input type="text" placeholder="Enter your answer" class="input"></h3>
            <h3 style="color: red">Enter Password: <input type="password" placeholder="Enter password" class="input"></h3>
        <button  type="submit" class="button">SAVE</button>
        <p class="message" style="color: red;">Not registered? <a href="../signup">Create an account</a></p>
        <p class="message"><a href="../signin">Log In?</a></p>
    </div>

  </div>

