<div class="body">
        <h1 style="color: blue;text-align: center;padding-top: 3%;"><b>USER LOGIN</b></h1>
    <div class="container2">
        <h3 style="color: black">Mail id: <input class="field" type="text" placeholder="Enter User ID" name="" value=""></h3>
        <h3 style="color: black">Password: <input class="field" type="password" name="" placeholder="Enter Password" value=""></h3>
        <a href="../slots"> <button type="button" class="button">LOG IN</button></a>
        <p class="m1">Not registered? <a href="../signup" style="color:blue" >Create an account</a></p>
        <p class="m2"><a href="../forget" style="color: white">Forget password?</a></p>
      </div>

</div>

