<div class="Whole">
    <h1 style="color: blanchedalmond; margin-left: 20%; padding-top: 2%;"><b>THE AVAILABLE SLOTS CAN BE FIND BELOW</b></h1>
    <div class="left">
        <div class="d1"><b>1.</b></div>
        <div class="d2"><b>3.</b></div>
        <div class="d1"><b>5.</b></div>
        <div class="d2"><b>7.</b></div>
    </div> 
    <div class="right">
        <div class="d2"><b>2.</b></div>
        <div class="d1"><b>4.</b></div>
        <div class="d2"><b>6.</b></div>
        <div class="d1"><b>8.</b></div>
    </div> 
    
    <a href="../car"> <button type="button" class="button">GO FOR BOOKING A SLOT</button></a>
</div>