<div class="container">
    <h1 class="cont"><b>BOOK A SLOT FOR A VEHICLE HERE</b></h1>
    <div class="sub-cont">
      <h1 class="heading">FILL UP THE DETAILS</h1><br>
      <h3 style="color: red">Enter Username:<input type="text" placeholder="Enter Your Name" class="input"></h3>
      <h3 style="color: red">Enter Email:<input type="text" placeholder="Enter Your Email" class="input"></h3>
      <h3 style="color: red">Date of allocation:<input type="text" placeholder="Enter Your Name" class="input"></h3>
      <h3 style="color: red">Enter slot number:<input type="text" placeholder="Enter Your Name" class="input"></h3>
      <a href="../pay">  <button type="button" class="btn" style="color: black">SUBMIT</button></a>
    </div>
</div>